@import url('./styles/_nav.scss');

body{
    font-family: 'Poppins', sans-serif;
    padding-inline: 20px;
    @media (min-width:768px) {
        padding-inline: 50px; 
    }
    @media (min-width:1536px) {
        padding-inline: 140px; 
    }
    
}

*{
    margin: 0;
    padding: 0;
}
:root{
    --primary:#289BDE;
    --secondary:#F4FAFD; 
    --dark: #777;
    --dark2:#4A4A4A;
    --dark1:#1D1D1D;
    --dark3:#E8E8E8;
}
header{
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 20px;
    align-items: center;
    gap: 15px;
    @media (min-width:1024px) {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        align-items: center;
        gap: 15px;
    }

    img{
        width: 94px;
        @media (min-width:640px) {
            width: auto;
        }
    }
}

.humb{
    display: block;
    width: 30px;
    height: 30px;
    @media (min-width:1536px) {
        display: none;
    }
}
nav{
        display: flex;
        justify-content: space-between;
        width: 666px;
    }


.btn{
    display: none;
    font-size: 18px;
    color: var(--primary);
    background-color:white;
    width: 150px;
    height: 56px;
    flex-shrink: 0; 
    border-radius: 5px;
    border: 1px solid var(--primary);
    @media (min-width:640px) {
        display: block;
        font-size: 18px;
        color: var(--primary);
        background-color:white;
        width: 150px;
        height: 56px;
        flex-shrink: 0; 
        border-radius: 5px;
        border: 1px solid var(--primary);
    }
}
.hero{
    position: relative;
    background-image: url(src/images/hero.png);
    background-size: cover;
    margin-inline: 20px;
    @media (min-width:1024px) {
        margin-inline: 50px;
    }
    @media (min-width:1536px) {
        margin-inline: 140px;
    }

}
.started{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 39px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    @media (min-width:1024px) {
        justify-content: space-between;
        padding: 80px 20px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    @media (min-width:1536px) {
        justify-content: space-between;
        padding: 182px 50px;
        background-color: rgba(0, 0, 0, 0);
    }
    img{
        display: none;
        @media (min-width:1024px) {
           display: block;
        }
    }
}
.swiper {
    width: 100%;
    height: auto;
  }
  .mySwiper1{
    padding-top: 50px;
    width: 100%;
    height: 100%;
    .swiper-button-next{
        display: none;
        @media (min-width:640px) {
            display: block;
            color: #FFF;
        }

    }
    .swiper-button-prev{
        display: none;
        @media (min-width:640px) {
            display: block;
            color: #FFF;
        }

  }}
  .mySwiper2{
    padding-top: 50px;
    width: 100%;
    height: 350px;
    .swiper-button-next{
        display: none;
        @media (min-width:1536px) {
            display: block;
            top: 50%;
            right: 0;
        }

    }
    .swiper-button-prev{
        display: none;
        @media (min-width:1536px) {
            display: block;
            top: 50%;
            left: 0;
        }

    }

  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    position: relative;
    
  }
  
  .php {
        display: block;
        width: 130%;
        height: auto;
        position: relative;
        z-index: -5;
        filter: brightness(0.5);
        -webkit-filter: brightness(0.5);
    
    @media (min-width:640px) {
        display: block;
        width: 125%;
        height: auto;
        position: relative;
        z-index: -5;
        filter: brightness(0.5);
        -webkit-filter: brightness(0.5);
    }
    @media (min-width:1024px) {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        z-index: -5;
        filter: brightness(0.5);
        -webkit-filter: brightness(0.5);
}
    @media (min-width:1536px) {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        z-index: -5;
        filter: brightness(1);
        -webkit-filter: brightness(1);
}
    

  }
.get{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 255px;
    gap: 5px;
    z-index: 10;
    top: 50%;
    left: 50%;padding: 39px 30px;
    transform: translate(-50%, -50%);  

    @media (min-width:640px) {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 400px;
        gap: 5px;
        z-index: 10;
        top: 50%;
        left: 50%;padding: 39px 30px;
        transform: translate(-50%, -50%);  
    }
    
    @media (min-width:1024px) {
        width: 550px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @media (min-width:1536px) {
        gap: 110px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h1{
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
        color: #fff;
        @media (min-width:640px) { 
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
        color: #fff;
        }
        @media (min-width:1024px) {
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 50px; 
            color: #fff;
        }
        @media (min-width:1536px) {
            font-size: 65px;
            font-style: normal;
            font-weight: 600;
            line-height: 85px; 
            color: #fff;
        }
        

    }
    .text{
        p{
            color: #F4FAFD;
            text-align: center;
            font-family: Poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; 

         @media (min-width:640px) {
            color: #F4FAFD;
            text-align: center;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; 
            }  
           
        }
        @media (min-width:1024px) {
            color: #F4FAFD;
            text-align: center;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; 
        }
        display: block;
        @media (min-width:1536px) {
            display: none;
        }
    }
    button{
        color: #fff;
        background-color: var(--primary);
        font-size: 14px;
        padding: 8px 10px;
        @media (min-width:640px) {
        color: #fff;
        background-color: var(--primary);
        font-size: 14px;
        padding: 11px 18px;
        }
        @media (min-width:1024px) {
            font-size: 20px;
            padding: 18px 33px;
        }
    }
}
.discover{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    @media (min-width:1024px) {
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    @media (min-width:1536px) {
        padding: 130px 0;
        gap: 50px;
    }
   
}
.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    gap: 10px;
    padding-inline: 35px;
    @media (min-width:640px) {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        width: 606px;
        gap: 10px;
    }
    h2{
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: var(--dark1);
        @media (min-width:640px) {
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 60px;
            color: var(--dark1);
        }
        @media (min-width:1536px) {
            font-size: 45px;
        }
    }
    p{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--dark);
        @media (min-width:1024px) {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: var(--dark);
        }
    }      
}
.cardDesign{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 3px;
    border: 1px solid var(--dark3);
    background: #FFF;
    width: auto;
    @media(min-width:640px){
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        border-radius: 5px;
        border: 1px solid var(--dark3);
        background: #FFF; 
        width: 100%;
    }
    img{
       width: 100%;
       @media (min-width:640px) {
        width: auto;
       }

    }
    .description{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-inline: 20px;
        padding-bottom: 20px;
        @media (min-width:1024px) {
           padding-left: 0;

           }
    }
    h3{
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: var(--dark2); 
        @media (min-width:768px) {
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: var(--dark2); 
            height: 38px;;
            }
    }
    p{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: auto;
        color: var(--dark); 
        @media (min-width:1024px) {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: var(--dark); 
        }
    }
    .bl{
        color: var(--primary);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
    }
}
.twoo{
    .description{
        padding-top: 30px;
        @media (min-width:640px) {
            padding-top: 0px;
        }
        h3{
            display: none;
            @media (min-width:640px) {
                display: block;
            }
        }

    }
}
.tree{
    display: none;
    @media (min-width:1536px) {
        display: flex;
        align-items: center;
        gap: 24px;
        border-radius: 5px;
        border: 1px solid var(--dark3);
        background: #FFF;
    }
}
.forth{
    display: none;
    @media (min-width:1536px) {
        display: flex;
        align-items: center;
        gap: 24px;
        border-radius: 5px;
        border: 1px solid var(--dark3);
        background: #FFF;
    }
}
.five{
    display: none;
    @media (min-width:1536px) {
        display: flex;
        align-items: center;
        gap: 24px;
        border-radius: 5px;
        border: 1px solid var(--dark3);
        background: #FFF;
    }
}
.cardDiscover{
    display: contents;
    gap: 16px;
    @media (min-width:1536px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        width: 100%;
    }
}
.seeMore{
        display: none;
        padding: 11px 18px;
        width: auto;
        height: auto;
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
        border-radius: 5px;
        border: 1px solid var(--primary);
        background: var(--primary); 

        @media (min-width:1536px) {
            display: block;
            padding: 13px 33px;
            font-size: 20px;
    }
}
.all{
    display: block;
    @media (min-width:1536px) {
        display: none;
}
}
.explore{

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    background-color: var(--secondary);
    @media (min-width:768px) {
      
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        background-color: var(--secondary);
    }
    @media (min-width:1536px) {
     
        display: flex;
        gap: 60px;
        align-items: center;
        background-color: var(--secondary);
}
.ex{
    width: 100%;
    @media (min-width:768px) {
        width: 50%;
        transform: translateY(-19px);
        -webkit-transform: translateY(-19px);
        -moz-transform: translateY(-19px);
        -ms-transform: translateY(-19px);
        -o-transform: translateY(-19px);
    }
    @media (min-width:1536px) {
        width: auto;
        transform: translateY(19px);
        -webkit-transform: translateY(19px);
        -moz-transform: translateY(19px);
        -ms-transform: translateY(19px);
        -o-transform: translateY(19px);
}
}
}
.read{
    width: auto;
    padding-left: 10px;
    padding-bottom: 15px;
    @media (min-width:768px) {
        width: 44%;
        padding-left: 0px;
        padding-bottom: 0px;
    }
    @media (min-width:1536px) {
        width: auto;
        padding-left: 0px;
        padding-bottom: 0px;
    }
    h3{
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: var(--dark1);;
        @media (min-width:1024px) {
            font-size: 30px;
        }
        @media (min-width:1536px) {
            font-size: 45px;
            font-style: normal;
            font-weight: 600;
            line-height: 60px;
            color: var(--dark1);
        }
        h2{ 
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            color: var(--dark1);
            @media (min-width:1024px) {
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                color: var(--dark1);
            } 
            @media (min-width:1536px) {
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                color: var(--dark1);
            }
        }
    }
    p{

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--dark); 
        @media (min-width:1024px) {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: var(--dark);
        } 
        @media (min-width:1536px) {
            padding-right: 54px; 
        } 
    }
}
.seeR{
    display: none;
    @media (min-width:1536px) {
        display: block;
    }
}
.see{
    display: block;
    color: var(--primary);
    @media (min-width:1536px) {
        display: none;
    }
}
.follow{
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
    @media (min-width:1024px) {
        flex-wrap: wrap;
        display: flex;
        gap: 20px;
        margin: 0px;
        padding-bottom: 10px;
    }
    @media (min-width:1536px) {
        flex-wrap: wrap;
        display: flex;
        gap: 50px;
        margin: 30px 0px;
        padding-bottom: 10px;
        
}
.online{
    h2{
        font-size: 25px;
        @media (min-width:1536px) {
            font-size: 45px;
        }

    }
}
}
button{
    
    width: auto;
    height: auto;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    border-radius: 5px;
    border: 1px solid var(--primary);
    background: var(--primary); 
    padding: 11px 18px;
    @media (min-width:1536px) {
        padding: 13px 33px; 
        font-size: 20px;
    }
}
.join{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: 32px 0;
    background-color: var(--primary);
    padding: 30px 15px;
    color: #fff;
    @media (min-width:768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        margin: 40px 0;
        background-color: var(--primary);
        padding: 80px 100px;
        color: #fff;
    }
    @media (min-width:1536px) {
        margin: 130px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary);
        padding: 80px 100px;
        color: #fff;
        gap: 363px;
    }

    h2{
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height:normal; 
        @media (min-width:768px) {
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 60px;
        }
        @media (min-width:1536px) {
            font-size: 45px; 
        }
    }
    p{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        color: #FFF; 
        @media (min-width:768px) {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: #FFF;
        } 
    }
}
.ready{
    width: auto;
    @media (min-width:1536px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 486px;
        text-align: left;
    }
}
.but{
    display: none;
    @media (min-width:1536px) {
        display: block;
        padding: 13px 33px;
        width: auto;
        height: auto;
        color: var(--primary);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
        border-radius: 5px;
        border: 1px solid #fff;
        background:#fff; 
    }
}
.but1{
    display: block;
    padding: 11px 18px; 
    width: auto;
    height: auto;
    color: var(--primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    border-radius: 5px;
    border: 1px solid #fff;
    background:#fff; ;
    @media (min-width:768px) {
        display: block;
        padding: 11px 18px; 
        width: auto;
        height: auto;
        color: var(--primary);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
        border-radius: 5px;
        border: 1px solid #fff;
        background:#fff; ;
    }
    @media (min-width:1536px) {
        display: none;
    }
   
}
.meet{
    margin: 0px 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width:768px) {
        margin: 0px 0px 60px;
        align-items: inherit;
    }
    @media (min-width:1536px) {
        margin: 0px  0px 140px;
        align-items: inherit;
    }
}
.Met{
    text-align: center;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 35px;
    @media (min-width:768px) {
        width: 549px;
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 20px;
    }
    h2{
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: var(--dark1);
        @media (min-width:768px) {
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 60px;
            color: var(--dark1);
        }
        @media (min-width:15360px) {
            font-size: 45px;
            font-style: normal;
            font-weight: 600;
            line-height: 60px;
            color: var(--dark1);
        } 
    }
    p{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px; 
        color: var(--dark2); 
        @media (min-width:768px) {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; 
            color: var(--dark2); 
        } 
    }
}
.meetSt{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: auto;
    @media (min-width:768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 30px 0px;
        width: 100%;
    }

    @media (min-width:1536px) {
        display: flex;
        flex-direction: row;
        gap: 24px;
        padding: 50px 0px;
    }
}
.avatar{
    width: auto;
    @media (min-width:1536px) {
        width: 25%;
    }
    
    .name{
        text-align: center;
        @media (min-width:768px) {
            padding-left: 21px;
            padding-top:21px ;
            padding-bottom: 20px;
            text-align: left;
        }
    }
    h4{
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
        color: var(--dark2);
    }
    p{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        color: var(--dark);
        @media (min-width:768px) {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; 
            color: var(--dark);
        }
    }
    img{
        width: 100%;
    }
}
.vAll{

   display: block;
   @media (min-width:768px) {
    display: none;
   }
    @media (min-width:1536px) {
        display: block;
        padding: 13px 33px;
        width: auto;
        height: auto;
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
        border-radius: 5px;
        border: 1px solid var(--primary);
        background: var(--primary); 
        margin: 0 auto;
    }
}
.viewAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 24px;
    @media (min-width:768px) {
        display: flex;
        flex-direction: column;
    }
    @media (min-width:1536px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.students{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
    @media (min-width:768px) {
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
    }
    @media (min-width:1536px) {
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
    }
    .title{
        padding-bottom: 30px;
       padding-inline: 35px;
        @media (min-width:768px) {
            padding-bottom: 50px;
            width: 80%;
        }
        h2{
            font-size: 20px;
            @media (min-width:768px) {
                font-size: 30px;
            }
             @media (min-width:1536px) {
                font-size: 45px;
             }

        }
        
        
    }
}
.sdt{
    display: block;
    padding: 11px 18px;
    width: auto;
    height: auto;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    border-radius: 5px;
    border: 1px solid var(--primary);
    background: var(--primary); 
    margin: 0 auto;
    margin-top: 20px;

@media (min-width:1536px) {
    display: none;
    
}      
}
.feed{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 50px 0px;
    z-index: -5;
    position: relative;
}
.feedback{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0px;
    z-index: -5;
    position: relative;
    @media (min-width:768px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: -5;
        position: relative;
    }
    @media (min-width:1536px) {
        display: flex;
        flex-direction: row;
        gap: 24px;
        margin: 50px 0px;
        z-index: -5;
        position: relative;
    }
}

.sweL{
    display: none;
    @media (min-width:1536px) {
        position: absolute;
        left: -20px;
        top: 50%;
        display: block;
    }
}
.sweR{
    display: none;
    @media (min-width:1536px) {
        position: absolute;
        right: -20px;
        top: 50%;
        display: block;
    }
}
.first{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--dark3);
    @media (min-width:768px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 40px;
        border-radius: 5px;
        border: 1px solid var(--dark3);
    }
    .icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    p{
        color: var(--dark);
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        @media (min-width:768px) {
            color: var(--dark);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
        }
    }
}

.nameS{
    display: flex;
    gap: 20px;
    img{
        width: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
    h4{
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: var(--dark2);
    }
    p{
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
    }
}
.Vll{
    display: block;
    align-self: center;
    padding: 11px 18px; 
    @media (min-width:1536px) {
        display: none;
    }
}
.frequently{

    margin: 40px 0px;
    @media (min-width:768px) {
        margin: 60px 0px;
    }
    @media (min-width:1536px) {
        margin: 130px 250px;
    }
    .title{
        padding-bottom: 30px;
        padding-inline: 35px;
        @media (min-width:768px) {
            padding-bottom: 50px;
            width: 80%;
        }
        h2{
            font-size: 20px;
            @media (min-width:768px) {
                font-size: 30px;
            }
             @media (min-width:1536px) {
                font-size: 45px;
             }

        }
    }
}
button.accordion {

    width: 100%;
    background-color: #fff;
    border: none;
    outline: none;
    text-align: left;
    padding: 19px 15px;
    color: var(--Dark-02, #4A4A4A);
    font-family: Poppins;
    font-size:14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.2s linear;
    border: 1px solid var(--dark3);
    margin-bottom: 5px;
    @media (min-width:768px) {
        font-size: 20px;
        padding: 25px 30px;
        margin-bottom: 20px;

    }
        
    }
   
  
  p{
    color: #777;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
  button.accordion:after {
    content: "";
    background-image: url("src/images/nextD.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    font-family: "fontawesome";
    float: right;
  }
  
  button.accordion.is-open:after {
    content: "";
    background-image: url("src/images/nextU.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    
  }
  
  button.accordion:hover,
  button.accordion.is-open {
    background-color:rgba(40, 155, 222, 0.10);
    border: 1px solid rgba(40, 155, 222, 0.10);
  }
  button.accordion.is-open {
    border: none;
  }
  
  .accordion-content {
    background-color: white;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    border: none;
    p{
        font-size: 14px;
        @media (min-width:640px) {
            font-size: 16px;
        }
    }
  }
  
.compatible{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 20px;
    border-radius: 5px;
    border: 1px solid var(--dark3); 
    @media (min-width:768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 40px;
        border-radius: 5px;
        border: 1px solid var(--dark3); 
    }
    
    p{
        color: var(--dark2);
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
        @media (min-width:768px) {
            color: var(--dark2);
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal; 
        }
    }
    .white{
        background-color: #FFF;
    }
   
}
.blue{
    background: rgba(40, 155, 222, 0.10);
    border: none;
}
.question{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.txt{
    color: var(--dark);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    padding-inline: 0px;
    @media (min-width:768px) {
        color: var(--dark);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        padding-inline: 40px;
    }
}
.trusted{
    display: none;
    @media (min-width:1536px) {
        display: flex;
        flex-direction: column;
        gap: 34px;
        align-items: center;
        margin-inline: 140px;
        margin-bottom: 140px;
    }
}
.over{
    h2{
        color: var(--dark1);
        text-align: center;
        font-family: Poppins;
        font-size: 45px;
        font-style: normal;
        font-weight: 600;
        line-height: 60px; 
    }
}
.partner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75.33px;
}
footer{
    background-color: #161616;
}
.end{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 30px 47px;
    @media (min-width:768px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media (min-width:1536px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-top: 130px;
        padding-bottom: 130px;
    }
    p{
        color: var(--dark3);
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        @media (min-width:768px) {
            color: var(--dark3);
            text-align: center;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
        }
    }
    .terms{
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 126%;
        @media (min-width:768px) {
            font-family: Poppins;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 126%;
        }
    }
}
